*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/idea
/build
/libs
/gradle
/app/src/main/AndroidManifest.xml
/app/src/main/res/drawable*
/app/src/main/res/mipmap*
/app/src/main/res/values*
/app/src/main/res/xml/
/app/src/test/
/app/src/androidTest/
/app/proguard-rules.pro
build.gradle
gradle.properties
gradlew
gradlew.bat
local.properties
settings.gradle